.normal-text {
    text-align: center;
    border: none;
    outline: none;
    background: none;
    font-size: inherit;
    /* Inherit font size from parent */
    color: inherit;
    /* Inherit text color from parent */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margin */
    font-family: inherit;
    /* Use the same font family as the parent */
    width: auto;
    /* Let the input adjust its width */
}

.normal-text:focus {
    border: none;
    outline: none;
    background: none;
    font-size: inherit;
    /* Inherit font size from parent */
    color: inherit;
    /* Inherit text color from parent */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margin */
    font-family: inherit;
    /* Use the same font family as the parent */
    width: auto;
    /* Let the input adjust its width */
}